@use "../module";

.page3 {
    padding: 3rem;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 2.5rem;
        color: module.$anti-color;
        margin-bottom: 3rem;
        text-align: center;
    }

    .projects__grid {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

    .project__card {
        background-color: var(--card-bg);
        border: 1px solid var(--card-border);
        border-radius: 10px;
        padding: 1.5rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.3s ease;

        h3 {
            font-size: 1.5rem;
            color: module.$anti-color;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            line-height: 1.5;
            margin-bottom: 1.5rem;
        }

        .project__links {
            display: flex;
            justify-content: space-between;

            .btn {
                padding: 0.5rem 1rem;
                border-radius: 25px;
                font-size: 1rem;
                text-align: center;
                cursor: pointer;
                text-decoration: none;
                transition: background-color 0.3s;

                &--view {
                    background-color: module.$anti-color;
                    color: var(--first-color);

                    &:hover {
                        background-color: adjust-color(
                            module.$anti-color,
                            $lightness: -10%
                        );
                    }
                }

                &--code {
                    background-color: transparent;
                    color: module.$anti-color;
                    border: 2px solid module.$anti-color;

                    &:hover {
                        background-color: adjust-color(
                            module.$anti-color,
                            $lightness: 40%
                        );
                    }
                }
            }
        }
    }

    .project__card:hover {
        transform: translateY(-5px);
    }
}
