@use "../module";

header {
    width: 100%;

    position: fixed;
    z-index: 2;
    padding-top: 5px;

    button,
    div {
        float: right;
        margin-right: 10px;

        border: none;
        background: transparent;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    ul {
        list-style: none;
        display: flex;
    }

    li {
        padding-left: 8px;
        padding-right: 8px;
    }

    a {
        text-decoration: none;
        font-size: 1.5rem;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    select,
    option {
        font-size: 28px;
        border: none;
        outline: none;
        background-color: transparent;
    }

    @media screen and (max-width: module.$tablet-width) {
        a {
            font-size: 1rem;
        }

        select,
        option {
            font-size: 18px;
        }

        svg {
            width: 20px;
            height: 20px;
        }

        li {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
