@use "../module";

header {
    width: 100%;

    position: fixed;
    z-index: 2;
    margin-top: 5px;

    button,
    div {
        float: right;
        margin-right: 10px;

        border: none;
        background: transparent;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    select,
    option {
        font-size: 28px;
        border: none;
        outline: none;
        transition: background-color 0.3s;
        background-color: var(--first-color);

        @media screen and (max-width: module.$tablet-width),
            screen and (max-aspect-ratio: 1/1) {
            background-color: module.$main-color;
        }
    }
}
