// Sizes
$tablet-width: 980px;

// Colors
$light-color: rgb(247, 255, 247);
$dark-color: rgb(52, 52, 52);
$first-color: rgb(229, 89, 52);
$complementary-color: rgb(243, 183, 0);
$second-color: rgb(42, 127, 98);
