:root {
    // Themes
    --first-color: #f7fff7;
    --second-color: #343434;

    --card-bg: #f4f4f4;
    --card-border: #ddd;
}

// Sizes
$tablet-width: 980px;
$mobile-width: 450px;

// Colors
//
//$main-color: #4fd6e8;
//linear-gradient(180deg, #4fd6e8, #437d7f)
//
// text color
$anti-color: #439775;
