:root {
    // Themes
    --first-color: rgb(247, 255, 247);
    --second-color: rgb(52, 52, 52);
}

// Sizes
$tablet-width: 980px;
$mobile-width: 450px;

// Colors
//
//$main-color: #4fd6e8;
//linear-gradient(180deg, #4fd6e8, #437d7f)
//
// useless
$complementary-color: rgb(243, 183, 0);
//
// text color
$anti-color: #439775;
