@use "./module";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Optimistic Display;
    font-weight: 300;
    color: var(--second-color);
}

html {
    transition: background-color 0.3s;
    background-color: var(--first-color);
    scroll-behavior: smooth;
}

main {
    min-height: 100vh;
}

// .gap-page {
//     width: 100vw;
//     height: 20vh;
//     background: linear-gradient(to right, #437d7f 33%, #4fd6e8 66%);

//     @media screen and (max-width: module.$tablet-width),
//         screen and (max-aspect-ratio: 1/1) {
//         visibility: hidden;
//     }
// }
